@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lexend Deca', sans-serif;
}

:root {
    --branco: #fff;
    --brancoclaro: #f9f9f9;
    --cinzaclaro: #ececec;
    --cinza: #c4c4c4;
    --cinzamedio: #a7a7a7;
    --cinzaescuro: #343434;
    --preto: #000;
    --azul: #1b77f3;
    --vermelho: #cf3c3f;
}

main {
    display: flex;
}

.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 500px;
    min-height: 100vh;
    padding: clamp(35px, 8%, 70px);
    justify-content: space-between;
}

.wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login__logo{
    width: 130px;
    margin-bottom: 80px;
}

.login__title {
    color: var(--cinzaescuro);
    font-size: 1.5em;
    margin-bottom: 30px;
}

.login__label {
    display: block;
    margin-bottom: 20px;
    width: 100%;
}

.input {
    width: 100%;
    background-color: var(--cinzaclaro);
    border: 2px solid rgba(0,0,0,0);
    border-radius: 5px;
    outline: none;
    font-size: 0.9em;
    padding: 25px 10px 10px;
    font-weight: 600;
    color: var(--cinzaescuro);
}

.login__label span {
    position: absolute;
    font-size: 0.8em;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--cinzamedio);
    margin: 20px;
    cursor: text;
    transition: all 200ms ease;
}

input:focus {
    background-color: var(--brancoclaro);
    border: 2px solid var(--cinzaescuro);
}

.login__label .span-active {
    font-size: 0.7em;
    margin: 8px 10px;
}

.login__icons {
    display: flex;
    gap: 10px;
    width: 100%;
    margin-top: 20px;
}

.login__icons img {
    width: 20px;
}

.icons__button {
    width: 33.33%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
}

.login__icons .icons__button:nth-child(1) {
    background-color: var(--azul);
}

.login__icons .icons__button:nth-child(2) {
    background-color: var(--cinzaclaro);
}

.login__icons .icons__button:nth-child(3) {
    background-color: var(--preto);
}

.login__label--checkbox {
    width: 100%;
    margin: 15px 0 50px;
    font-size: 0.9em;
    font-weight: 500;
    display: flex;
    align-items: center;
}

.input--checkbox {
    appearance: none;
    width: 20px;
    height: 20px;
    background-color: var(--cinzaclaro);
    margin-right: 6px;
    border-radius: 3px;
}

.input--checkbox:checked {
    background-color: var(--vermelho);
    border: 3px rgba(0, 0, 0, 0);
}

.input--checkbox:checked::after {
    content:'✓';
    display: block;
    width: 5px;
    height: 10px;
    color: var(--branco);
    font-weight: 700;
    border-width: 0 3px 3px 0;
    margin: 1px 6px;
}

.login__button {
    width: 60px;
    height: 60px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--vermelho);
    border-radius:20px;
    border: none;
    margin-bottom: 60px;
}

.login__button svg {
    fill: var(--branco);

}

.login__button:disabled {
    cursor: auto;
    background-color: var(--branco);
    border: 2px solid var(--cinzaclaro);

}

.login__button:disabled svg {
    fill: var(--cinza);
}

.login__link {
    font-size: 0.8em;
    text-decoration: none;
    color: var(--cinzamedio);
    text-transform: uppercase;
    margin-bottom: 5px;
    font-weight: 700;
}

 /* Para ativar a versão em imagem descomente isso e comente lá no html */

 .wallpaper {
    width: 100%;
    background-image: url('../img/bg-vava.jpg');
    background-size: cover;
    background-position: center;
    flex: 1;
}

/* Para ativar a versão em vídeo deixe isso abaixo sem comentar */
 
.wallpaper video {
    object-fit: cover;
    object-position: center;
    min-width: 100%; 
    min-height: 100%;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    object-fit: fill;
    background-size: cover;
    background-position: center;
    flex: 1;
}